<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>login</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="login">
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit">login</button>
    </form>
    <h1>signup</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="signup">
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit">submit</button>
    </form>
</body>
</html>